<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Продукт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Редактирай продукт</h1>
        <form th:object="${product}" method="post" th:action="@{/products/update-product/{productId}}">
                <label>Име:</label>
                <input type="text" th:field="${productName}" required><br><br>
                <label>Цена:</label>
                <input type="text" th:field="${productPrice}" required><br><br>
                <label>Описание:</label>
                <textarea th:field="${productDescription}" required></textarea><br><br>
            <button type="submit">Запази</button>
        </form>
    </div>
</div>
</body>
</html>