<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Продукт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
        <h1>Редактирай продукт</h1>
        <form action="/products/{productId}/edit(productId=${product.productId})" method="post" th:object="${product}">
                <input type="hidden" name="productId" th:value="*{productId}">
                <label>Име:</label>
                <input type="text" name="productName" th:field="*{productName}" required><br><br>
                <label>Цена:</label>
                <input type="text" name="productPrice" th:field="*{productPrice}" required><br><br>
                <label>Описание:</label>
                <textarea name="productDescription" th:field="*{productDescription}" required></textarea><br><br>
            <input type="submit">Запази</input>
        </form>
</body>
</html>