<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Продукти</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../style/AboutStyle.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <h1>Продукти</h1>
    <a th:href="@{/products/new}">Добави нов</a>
    <table>
        <thead>
        <tr>
            <th>Продуктово ID</th>
            <th>Име на продукт</th>
            <th>Цена на продукт</th>
            <th>Описание на продукт</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr th:each="product: ${productList}">
            <td th:text="${product.productId}" />
            <td th:text="${product.productName}" />
            <td th:text="${product.productPrice}" />
            <td th:text="${product.productDescription}" />
            <td>
                <a th:href="@{/products/{productId}/edit(productId=${product.productId})}">Редактирай продукт</a>
                <a th:href="@{/products/{productId}/delete(productId=${product.productId})}">Изтрий продукт</a>
            </td>
        </tr>
    </table>
</body>
</html>