<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Игрище</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Добави игрище</h1>
        <form th:object="${field}" th:action="@{/fields/new}" method="post">
                <div>
                    <label for="fieldLocation">Локация:</label>
                    <input type="text" id="fieldLocation" th:field="*{fieldLocation}">
                </div>
            <br>
                <div>
                    <label for="startedWorkingTime">Начало на работа:</label>
                    <input type="text" id="startedWorkingTime" th:field="*{startedWorkingTime}">
                </div>
            <br>
                <div>
                    <label for="finishedWorkingTime">Край на работа:</label>
                    <input type="text" id="finishedWorkingTime" th:field="*{finishedWorkingTime}">
                </div>
            <br>
                <div>
                    <label for="priceByHour">Цена на час:</label>
                    <input type="number" min="0" id="priceByHour" th:field="*{priceByHour}">
                </div>
            <br>
                <div>
                    <input type="submit" value="Add Field">
                </div>
        </form>
    </div>
</div>
</body>
</html>