<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Игрище</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
        <h1>Добави игрище</h1>
        <form action="/fields/new" method="post" th:object="${field}">
                    <label >Локация:</label>
                    <input type="text" name="fieldLocation" th:field="*{fieldLocation}">
            <br><br>
                    <label>Начало на работа:</label>
                    <input type="text" name="startedWorkingTime" th:field="*{startedWorkingTime}">
            <br><br>
                    <label>Край на работа:</label>
                    <input type="text" name="finishedWorkingTime" th:field="*{finishedWorkingTime}">
            <br><br>
                    <label>Цена на час:</label>
                    <input type="number" name="priceByHour" th:field="*{priceByHour}">
            <br><br>
                    <input type="submit" value="Добави">
        </form>
    <a href="/fields">Върни се</a>
</body>
</html>