<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Fields</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Редактирай игрище</h1>
        <form action="/fields/{fieldId}/edit(fieldId=${field.fieldId})" method="post" th:object="${field}">
            <input type="hidden" name="fieldId" th:value="*{fieldId}">
            <label>Локация:</label>
            <input type="text" name="location" th:field="*{location}" required/>
            <br/><br/>
            <label>Начало на работа:</label>
            <input type="text" name="startedWorkingTime" th:field="*{startedWorkingTime}" required/>
            <br/><br/>
            <label>Край на работа:</label>
            <input type="text" name="finishedWorkingTime" th:field="*{finishedWorkingTime}" required/>
            <br/><br/>
            <label>Цена на час:</label>
            <input type="number" name="priceByHour" th:field="*{priceByHour}" required/>
            <br/><br/>
            <button type="submit">Редактирай</button>
        </form>
    </div>
</div>
</body>
</html>