<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Fields</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Редактирай игрище</h1>
        <form action="#" method="post" th:action="@{/fields/edit/{fieldId}}" th:object="${field}">
            <label>Локация:</label>
            <input type="text" th:field="${fields.location}" required/>
            <br/><br/>
            <label>Начало на работа:</label>
            <input type="text" th:field="${fields.startedWorkingTime}" required/>
            <br/><br/>
            <label>Край на работа:</label>
            <input type="text" th:field="${fields.finishedWorkingTime}" required/>
            <br/><br/>
            <label>Цена на час:</label>
            <input type="number" th:field="${fields.priceByHour}" required/>
            <br/><br/>
            <button type="submit">Редактирай</button>
        </form>
    </div>
</div>
</body>
</html>