<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Игрища</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Fields</h1>
    <a th:href="@{/fields/new/{fieldId}}">Добави ново</a>
    <table>
        <thead>
        <tr>
            <th>Игрище ID</th>
            <th>Локация на игрище</th>
            <th>Начало на работа</th>
            <th>Край на работа</th>
            <th>Цена за час</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr th:each="field: ${fields}">
            <td th:text="${field.fieldId}" />
            <td th:text="${field.fieldLocation}" />
            <td th:text="${field.startedWorkingTime}" />
            <td th:text="${field.finishedWorkingTime}" />
            <td th:text="${field.priceByHour}" />
            <td>
                <a th:href="@{/fields/{fieldId}/(fieldId=${field.fieldId})}">Информация за игрище по ID</a>
                <a th:href="@{/fields/new/{fieldId}/(fieldId=${field.fieldId})}">Добави ново игрище</a>
                <a th:href="@{/fields/edit/{fieldId}/(fieldId=${field.fieldId})}">Редактирай по игрище</a>
                <a th:href="@{/fields/delete/{fieldId}/(fieldId=${field.fieldId})}">Изтрий по ID</a>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>