<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Контакт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
        <h1>Добави контакт</h1>
        <form action="/contacts/new" method="post" th:object="${contact}">
                <label>Име:</label>
                <input type="text" name="firstName" th:field="*{firstName}" required><br><br>

                <label>Фамилия:</label>
                <input type="text" name="lastName" th:field="*{lastName}" required><br><br>

                <label>Телефон:</label>
                <input type="text" name="phoneNumber" th:field="*{phoneNumber}" required><br><br>

                <label>Запитване:</label>
                <textarea name="subject" th:field="*{subject}" required></textarea><br><br>

                <button type="submit">Запази</button>
        </form>
        <a href="/contacts">Върни се</a>
</body>
</html>