<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Контакт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Добави контакт</h1>
        <form action="#" th:action="@{/contacts/add/{contactId}}" th:object="${contact}" method="post">
            <label>Име:</label>
            <input type="text" th:field="*{contacts.firstName}" required><br><br>

            <label>Фамилия:</label>
            <input type="text" th:field="*{contacts.lastName}" required><br><br>

            <label>Телефон:</label>
            <input type="text" th:field="*{contacts.phoneNumber}" required><br><br>

            <label>Запитване:</label>
            <textarea th:field="*{contacts.subject}" required></textarea><br><br>

            <button type="submit">Запази</button>
        </form>
    </div>
</div>
</body>
</html>