<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Contacts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Contacts</h1>
        <form action="#" th:action="@{/contacts/{contactId}/update(contactId=${contact.contactId})}" th:object="${contact}" method="post">
            <div>
                <label for="firstName">Име:</label>
                <input type="text" id="firstName" th:field="*{firstName}">
            </div>
            <div>
                <label for="lastName">Фамилия:</label>
                <input type="text" id="lastName" th:field="*{lastName}">
            </div>
            <div>
                <label for="phoneNumber">Телефонен номер:</label>
                <input type="text" id="phoneNumber" th:field="*{phoneNumber}">
            </div>
            <div>
                <label for="subject">Запитване:</label>
                <input type="text" id="subject" th:field="*{subject}">
            </div>
            <button type="submit">Запази</button>
        </form>
    </div>
</div>
</body>
</html>