<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Контакти</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
        <h1>Контакти</h1>
        <form action="/contacts/{contactId}/edit(contactId=${contact.contactId})" method="post" th:object="${contact}">
                <input type="hidden" name="contactId" th:value="*{contactId}">
                <label>Име:</label>
                <input type="text" name="firstName" th:field="${firstName}"><br><br>

                <label>Фамилия:</label>
                <input type="text" name="lastName" th:field="${lastName}"><br><br>

                <label>Телефонен номер:</label>
                <input type="text" name="phoneNumber" th:field="${phoneNumber}"><br><br>

                <label>Запитване:</label>
                <input type="text" name="subject" th:field="${subject}"><br><br>

                <button type="submit">Запази</button>
        </form>
</body>
</html>