<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Контакти</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Редактирай контакти</h1>
        <form action="#" th:action="@{/contacts/update/{contactId}}" th:object="${contact}" method="post">
            <label>Име:</label>
            <input type="text" th:field="${firstName}"><br><br>

            <label>Фамилия:</label>
            <input type="text" th:field="${lastName}"><br><br>

            <label>Телефонен номер:</label>
            <input type="text" th:field="${phoneNumber}"><br><br>

            <label>Запитване:</label>
            <input type="text" th:field="${subject}"><br><br>

            <button type="submit">Запази</button>
        </form>
    </div>
</div>
</body>
</html>