<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Contacts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Contacts</h1>
    <a th:href="@{/contacts/new/{contactId}}">Добави нов</a>
    <table>
        <thead>
        <tr>
            <th>Контакт ID</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Телефонен номер</th>
            <th>Запитване</th>
            <th>Потребителско ID</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr th:each="contact: ${contacts}">
            <td th:text="${contact.contactId}" />
            <td th:text="${contact.firstName}" />
            <td th:text="${contact.lastName}" />
            <td th:text="${contact.phoneNumber}" />
            <td th:text="${contact.subject}" />
            <td th:text="${contact.userId}" />
            <td>
                <a th:href="@{/contacts/{contactId}/(contactId=${contact.contactId})}">Контакт по ID</a>
                <a th:href="@{/contacts/new/{contactId}/(contactId=${contact.contactId})}">Добави нов контакт</a>
                <a th:href="@{/contacts/edit/{contactId}/(contactId=${contact.contactId})}">Редактирай контакт</a>
                <a th:href="@{/contacts/delete/{contactId}/(contactId=${contact.contactId})}">Изтрий контакт по ID</a>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>