<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Contacts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Contacts</h1>
    <a th:href="@{/contacts/add}" class="btn btn-primary">Add new</a>
    <table class="table table-striped">
        <thead  class="thead-dark">
        <tr>
            <th>Contact id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone number</th>
            <th>Subject</th>
            <th>User id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr th:each="contact: ${contacts}">
            <td th:text="${contact.contactId}" />
            <td th:text="${contact.firstName}" />
            <td th:text="${contact.lastName}" />
            <td th:text="${contact.phoneNumber}" />
            <td th:text="${contact.subject}" />
            <td th:text="${contact.userId}" />
            <td>
                <a th:href="@{/contacts/{contactId}/(contactId=${user.contactId})}" class="btn btn-primary">Details</a>
                <a th:href="@{/contacts/edit/{contactId}/(contactId=${user.contactId})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/contacts/delete/{contactId}/(contactId=${user.contactId})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>