<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Съоръжение</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Добави съоръжение</h1>
        <form action="#" th:action="@{/constructions/add/{constructionId}}" th:object="${construction}" method="post">
            <label>Име:</label>
            <input type="text" th:field="*{constructions.firstName}" required><br><br>

            <label>Фамилия:</label>
            <input type="text" th:field="*{constructions.lastName}" required><br><br>

            <label>Телефон:</label>
            <input type="text" th:field="*{constructions.phoneNumber}" required><br><br>

            <label>Описание:</label>
            <textarea th:field="*{construction.description}" required></textarea><br><br>

            <button type="submit">Запази</button>

        </form>
    </div>
</div>
</body>
</html>