<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Add Construction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Constructions</h1>
        <form action="#" th:action="@{/construction/add}" method="post" th:object="${construction}" class="form-group">
            <label>First name:</label>
            <input type="text" th:field="*{firstName}" class="form-control"/>
            <br>
            <label>Last name:</label>
            <input type="text" th:field="*{lastName}" class="form-control"/>
            <br>
            <label>Phone number:</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control"/>
            <br>
            <label>Subject:</label>
            <input type="text" th:field="*{subject}" class="form-control"/>
            <br>
            <input type="hidden" th:field="*{userId}" class="form-control"/>
            <br>
            <input type="hidden" th:field="*{contactId}" class="form-control"/>
            <br>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
</body>
</html>