<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Съоръжение</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Редактирай съоръжение</h1>
        <form action="#" th:action="@{/constructions/{constructionId}/update(constructionId=${construction.constructionId})}" th:object="${construction}" method="post">
            <div>
                <label for="firstName">Име:</label>
                <input type="text" id="firstName" th:field="*{firstName}">
            </div>
            <div>
                <label for="lastName">Фамилия:</label>
                <input type="text" id="lastName" th:field="*{lastName}">
            </div>
            <div>
                <label for="phoneNumber">Телефонен номер:</label>
                <input type="text" id="phoneNumber" th:field="*{phoneNumber}">
            </div>
            <div>
                <label for="description">Описание:</label>
                <input type="text" id="description" th:field="*{description}">
            </div>
            <button type="submit">Запази</button>
        </form>
    </div>
</div>
</body>
</html>