<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Съоръжение</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div align="center">
        <h1>Редактирай съоръжение</h1>
        <form aaction="/constructions/{constructionId}/edit(constructionId${construction.constructionId})" method="post" th:object="${construction}">
            <input type="hidden" name="constructionId" th:value="*{constructionId}">
                <label>Име:</label>
                <input type="text" name="firstName" th:field="${firstName}"><br><br>

                <label>Фамилия:</label>
                <input type="text" name="lastName" th:field="${lastName}"><br><br>

                <label>Телефонен номер:</label>
                <input type="text" name="phoneNumber" th:field="${phoneNumber}"><br><br>

                <label>Описание:</label>
                <input type="text" name="description" th:field="${description}"><br><br>

                <button type="submit">Запази</button>
        </form>
    </div>
</div>
</body>
</html>