<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Съоръжения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Съоръжения</h1>
    <table>
        <thead>
        <tr>
            <th>Съоръжение ID</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Телефонен номер</th>
            <th>Описание</th>
            <th>Потребителско ID</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr th:each="constructions: ${construction}">
            <td th:text="${construction.constructionId}" />
            <td th:text="${construction.firstName}" />
            <td th:text="${construction.lastName}" />
            <td th:text="${construction.phoneNumber}" />
            <td th:text="${construction.description}" />
            <td th:text="${construction.userId}" />
            <td>
                <a th:href="@{/constructions/{constructionId}/(constructionId=${construction.constructionId})}">Съоръжение по ID</a>
                <a th:href="@{/constructions/new/{constructionId}/(constructionId=${construction.constructionId})}">Добави нов съоръжение</a>
                <a th:href="@{/constructions/edit/{constructionId}/(constructionId=${construction.constructionId})}">Редактирай съоръжение</a>
                <a th:href="@{/constructions/delete/{constructionId}/(constructionId=${construction.constructionId})}">Изтрий съоръжение</a>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>