<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Съоръжения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
    <a th:href="@{/constructions/new/}">Добави нов</a>
    <h1>Съоръжения</h1>
    <table>
        <thead>
        <tr>
            <th>Съоръжение ID</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Телефонен номер</th>
            <th>Описание</th>
            <th>Потребителско ID</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr th:each="constructions: ${constructionList}">
            <td th:text="${construction.constructionId}" />
            <td th:text="${construction.firstName}" />
            <td th:text="${construction.lastName}" />
            <td th:text="${construction.phoneNumber}" />
            <td th:text="${construction.description}" />
            <td th:text="${construction.userId}" />
            <td>
                <a th:href="@{/constructions/{constructionId}/edit(constructionId=${construction.constructionId})}">Редактирай съоръжение</a>
                <a th:href="@{/constructions/{constructionId}/delete(constructionId=${construction.constructionId})}">Изтрий съоръжение</a>
            </td>
        </tr>
    </table>
</body>
</html>