<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
  <title>Потребител</title>
  <link rel="stylesheet" href="../style/AboutStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
  <div align="center">
    <h1>Добави потребител</h1>
    <form action="#" method="post" th:action="@{/users/create-user/{userId}}" th:object="${user}">

      <label>Име:</label>
      <input type="text" th:field="*{users.firstName}" required/><br><br>

      <label>Фамилия:</label>
      <input type="text" th:field="*{users.lastName}" required/><br><br>

      <label>Имейл:</label>
      <input type="text" th:field="*{users.email}" required/><br><br>

      <label>Парола:</label>
      <input type="text" th:field="*{users.password}" required/><br><br>

      <label>Роля ID:</label>
      <select th:field="*{roleId}" required>
        <option value="1">Admin</option>
        <option value="2">User</option>
      </select>
      <br><br>
      <input type="submit" value="Добавяне"/>
    </form>
  </div>
</div>
</body>
</html>