<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Потребител</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Добави потребител</h1>
    <form action="/users/new" method="post" th:object="${user}">

      <label>Име:</label>
      <input type="text" name="firstName" th:field="*{firstName}" required><br><br>

      <label>Фамилия:</label>
      <input type="text" name="lastName" th:field="*{lastName}" required/><br><br>

      <label>Имейл:</label>
      <input type="text" name="email" th:field="*{email}" required/><br><br>

      <label>Парола:</label>
      <input type="text" name="password" th:field="*{password}" required/><br><br>

      <label>Роля ID:</label>
      <select name="roleId" th:field="*{roleId}" required>
        <option value="1">Admin</option>
        <option value="2">User</option>
      </select>
      <br><br>
      <input type="submit" value="Добавяне"/>
    </form>
    <a href="/products">Върни се</a>
</body>
</html>