<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
  <title>Потребител</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
  <div align="center">
    <h1>Редактирай потребител</h1>
    <form action="#" method="post" th:action="@{/users/update-user/{userId}}" th:object="${user}">
      <label>Име:</label>
      <input type="text" th:field="${firstName}" required>
      <br><br>
      <label>Фамилия:</label>
      <input type="text" th:field="${lastName}" required>
      <br><br>
      <label>Имейл:</label>
      <input type="text" th:field="${email}" required>
      <br><br>
      <label>Парола:</label>
      <input type="text" th:field="${password}" required>
      <br><br>
      <label>Роля ID:</label>
      <input type="text" th:field="${roleId}" required>
        <option value="1">Админ</option>
        <option value="2">Потребител</option>
      </select>
      <br><br>
      <button type="submit">Редактирай</button>

    </form>
  </div>
</div>
</body>
</html>