<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
  <title>Потребител</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Редактирай потребител</h1>
    <form action="/users/{userId}/edit(userId=${user.userId})" method="post" th:object="${user}">
      <input type="hidden" name="userId" th:value="*{userId}">
      <label>Име:</label>
      <input type="text" name="firstName" th:field="*{firstName}" required>
      <br><br>
      <label>Фамилия:</label>
      <input type="text" name="lastName" th:field="*{lastName}" required>
      <br><br>
      <label>Имейл:</label>
      <input type="text" name="email" th:field="*{email}" required>
      <br><br>
      <label>Парола:</label>
      <input type="text" name="password" th:field="*{password}" required>
      <br><br>
      <label>Роля ID:</label>
      <select name="roleId" th:field="*{roleId}" required>
        <option value="1">Админ</option>
        <option value="2">Потребител</option>
      </select>
      <br><br>
      <input type="submit" value="Редактирай">
    </form>
    <a href="/users">Върни се</a>
</body>
</html>