<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
  <title>Потребители</title>
  <link rel="stylesheet" href="../style/AboutStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
  <h1>Потребители</h1>

  <table class="table table-striped">
    <thead  class="thead-dark">
    <tr>
      <th>Потребителско ID</th>
      <th>Име</th>
      <th>Фамилия</th>
      <th>Имейл</th>
      <th>Парола</th>
      <th>Роля ID</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tr th:each="user: ${users}">
      <td th:text="${user.userId}" />
      <td th:text="${user.firstName}" />
      <td th:text="${user.lastName}" />
      <td th:text="${user.email}" />
      <td th:text="${user.password}" />
      <td th:text="${user.roleId}" />
      <td>
        <a th:href="@{/users/{userId}/(userId=${user.userId})}" class="btn btn-primary">Потребителска информация по ID</a>
        <a th:href="@{/users/add/{userId}/(userId=${user.userId})}" class="btn btn-primary">Добави нов потребител</a>
        <a th:href="@{/users/edit/{userId}/(userId=${user.userId})}" class="btn btn-warning">Редактирай потребител</a>
        <a th:href="@{/users/delete/{userId}/(userId=${user.userId})}" class="btn btn-danger">Изтрий потребител по ID</a>
      </td>
    </tr>
  </table>
</div>
</div>
</body>
</html>