<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Поръчка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
        <h1>Редактирай поръчка</h1>
        <form action="/orders/{orderId}/edit(orderId=${order.orderId})" method="post" th:object="${order}">
            <input type="hidden" name="orderId" th:value="*{orderId}">
            <label>Потребителско ID:</label>
            <input type="number" name="userId" th:field="*{users.userId}" required><br><br>

            <label>Продуктово ID:</label>
            <input type="number" name="productId" th:field="*{products.product.Id}" required><br><br>

            <label>Количество на продукти:</label>
            <input type="number" name="productQuantity" th:field="*{productQuantity}" required><br><br>

            <label>Обща цена:</label>
            <input type="number" name="totalPrice" th:field="*{totalPrice}" required><br><br>

            <button type="submit">Редактирай</button>
        </form>
</body>
</html>