<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Поръчка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Поръчка</h1>
    <a th:href="@{/orders/add}" class="btn btn-primary">Add new</a>
    <table class="table table-striped">
        <thead  class="thead-dark">
        <tr>
            <th>Поръчка ID</th>
            <th>Потребителско ID</th>
            <th>Продуктово ID</th>
            <th>Брой на продуктите</th>
            <th>Обща цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr th:each="order: ${orders}">
            <td th:text="${order.orderId}" />
            <td th:text="${user.userId}" />
            <td th:text="${product.productId}" />
            <td th:text="${order.productQuantity}" />
            <td th:text="${order.totalPrice}" />
            <td>
                <a th:href="@{/orders/{orderId}/(orderId=${order.orderId})}" class="btn btn-primary">Поръчкова информация по ID:</a>
                <a th:href="@{/orders/add/{orderId}/(orderId=${order.orderId})}" class="btn btn-primary">Добави нов поръчка</a>
                <a th:href="@{/orders/edit/{orderId}/(orderId=${order.orderId})}" class="btn btn-warning">Редактирай поръчка</a>
                <a th:href="@{/orders/delete/{orderId}/(orderId=${order.orderId})}" class="btn btn-danger">Изтрий поръчка по ID</a>

            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>