<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Поръчка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Поръчка</h1>
    <a th:href="@{/orders/new/{orderId}}">Добави нова</a>
    <table>
        <thead>
        <tr>
            <th>Поръчка ID</th>
            <th>Потребителско ID</th>
            <th>Продуктово ID</th>
            <th>Брой на продуктите</th>
            <th>Обща цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tr th:each="order: ${orders}">
            <td th:text="${order.orderId}" />
            <td th:text="${user.userId}" />
            <td th:text="${product.productId}" />
            <td th:text="${order.productQuantity}" />
            <td th:text="${order.totalPrice}" />
            <td>
                <a th:href="@{/orders/{orderId}/(orderId=${order.orderId})}">Поръчкова информация по ID</a>
                <a th:href="@{/orders/new/{orderId}/(orderId=${order.orderId})}">Добави нов поръчка</a>
                <a th:href="@{/orders/edit/{orderId}/(orderId=${order.orderId})}">Редактирай поръчка</a>
                <a th:href="@{/orders/delete/{orderId}/(orderId=${order.orderId})}">Изтрий поръчка по ID</a>

            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>