<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Orders</h1>
    <a th:href="@{/orders/add}" class="btn btn-primary">Add new</a>
    <table class="table table-striped">
        <thead  class="thead-dark">
        <tr>
            <th>Order id</th>
            <th>User id</th>
            <th>Product id</th>
            <th>Product quantity</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr th:each="order: ${orders}">
            <td th:text="${order.orderId}" />
            <td th:text="${user.userId}" />
            <td th:text="${product.productId}" />
            <td th:text="${order.productQuantity}" />
            <td th:text="${order.totalPrice}" />
            <td>
                <a th:href="@{/orders/{orderId}/(orderId=${order.orderId})}" class="btn btn-primary">Details</a>
                <a th:href="@{/orders/edit/{orderId}/(orderId=${order.orderId})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/orders/delete/{orderId}/(orderId=${order.orderId})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
</div>
</body>
</html>